
<header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Abdelrahman Fathy</b></h1>
    <p>Structural Engineer & Software Developer</p>
</header>

<!-- Portfolio Section -->
<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>About</h2>
    <hr class="w3-opacity">
    <p>
        I am a Teaching Assistant at Structural Engineering Department, Faculty of Engineering, Manosura University and I have
        a Diploma in Computer Science from ITI (intake 40), My goal in life is to develop innovative and robust solutions that will help Engineers.
    </p>
    <!-- End About Section -->
</div>

<!-- Contact Section -->
<div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <h2>Contact Me</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
        <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Mansoura, Egypt</p>
        <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> +2 0109 743 4113</p>
        <a href="mailto:abdelrahmanfathy@mans.edu.eg">
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"></i>abdelrahmanfathy@mans.edu.eg</p>
        </a>
        <a href="https://www.linkedin.com/in/abdelrahman-fathe-192025151/">
            <p><i class="fa fa-linkedin w3-hover-opacity fa-fw w3-xxlarge w3-margin-right"></i> abdelrahman fathe</p>
        </a>
        <a href="https://github.com/Abdelrahman912">
            <p><i class="fa fa-github w3-hover-opacity fa-fw w3-xxlarge w3-margin-right"></i>Abdelrahman912</p>
        </a>
         <a href="https://www.youtube.com/channel/UCkqLLOU5Bgjgf70s5pkw-ZQ">
            <p><i class="fa fa-youtube w3-hover-opacity fa-fw w3-xxlarge w3-margin-right"></i>Abdelrahman Fathy</p>
        </a>
         <a href="https://twitter.com/AbdlrahmanFathe">
            <p><i class="fa fa-twitter w3-hover-opacity fa-fw w3-xxlarge w3-margin-right"></i>@@AbdlrahmanFathe</p>
        </a>
        <a href="https://www.facebook.com/abdelrahman.fathi3">
            <p><i class="fa fa-facebook-official w3-hover-opacity fa-fw w3-xxlarge w3-margin-right"></i>Abdelrahman Fathi</p>
        </a>
        <a href="../../files/Fathy.pdf">
            <p><i class="fa fa-file w3-hover-opacity fa-fw w3-xxlarge w3-margin-right"></i>Resume</p>
        </a>
    </div>
</div>
